.animated-gradient-bg {
  background: linear-gradient(120deg, #4a4a4a, #6b6b6b, #4a4a4a);
  background-size: 300% 300%;
  animation: gradientAnimation 8s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
